[submodule "volume-widget"]
	path = volume
	url = https://github.com/Doron-Behar/volumetextwidget
[submodule "shifty"]
	path = shifty
	url = https://github.com/cdump/awesome-shifty
[submodule "tyrannical"]
	path = tyrannical
	url = https://github.com/Elv13/tyrannical
[submodule "obvious"]
	path = obvious
	url = https://github.com/Doron-Behar/obvious
[submodule "copycats"]
	path = copycats
	url = https://github.com/copycat-killer/awesome-copycats
